

body {
    background-color: #555555;
    background-image: url("../images/seamless-paper-texture.jpg");
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* BEGIN MAIN CONTAINER */

#container {
    min-width: 460px;
}

/* END MAIN CONTAINER */


/* BEGIN HEADER */

#header {
    margin-top: 20px;
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
}

#name {
    padding: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

#navText {
    padding-top: 25px;
    margin-left: 50px;
    color: #777777;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

#navText a {
    padding: 5px;
    color: #777777;
    text-decoration: none;
}

/* END HEADER */


/* BEGIN MAIN CONTENT */

#mainContent {
    margin-top: 30px;
    margin-left: 3px;
    margin-bottom: 90px;
}

#mainBox {
    background-color: #ffffff;
    border-bottom: solid 1px #777777;
    border-right: solid 1px #777777;
}

#mainTitle {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bold;
    margin: 30px 0px 30px 10px;
}

#hr1 {
    width: 98%;
    border-bottom: solid 1px #cccccc;
}

#mainImg {
    height: 225px;
    width: 225px;
    float: left;
    border: solid 1px #777777;
    margin: 20px 20px 15px 0px;
}

#mainText {
    font-weight: bold;
}

#mainText a {
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
}


/* Portfolio Page */

#mainBox2 {
    background-color: #ffffff;
}

#portImg1 {
    height: 275px;
    width: 275px;
    background-image: url("http://lorempixel.com/275/275/");
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#portImg2 {
    height: 275px;
    width: 275px;
    background-image: url("http://lorempixel.com/275/275/");
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#portImg3 {
    height: 275px;
    width: 275px;
    background-image: url("http://lorempixel.com/275/275/");
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#portImg4 {
    height: 275px;
    width: 275px;
    background-image: url("http://lorempixel.com/275/275/");
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#portImg5 {
    height: 275px;
    width: 275px;
    background-image: url("http://lorempixel.com/275/275/");
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#portImg6 {
    height: 275px;
    width: 275px;
    background-image: url("http://lorempixel.com/275/275/");
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

#portText {
    margin-top: 220px;
    padding: 5px;
    height: 40px;
    width: auto;
    background-color: rgba(74, 170, 165, 0.6);
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    text-align: center;
}


/*  contact page  */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff;
    border: solid 1px #4aaaa5;
    color: #4aaaa5;
}

.formBox {
    border-radius: 5px;
    background-color: #fff;
    color: #666;
    margin-bottom: 20px;
}

/* END MAIN CONTENT */


/* BEGIN SOCIAL BOX */

#socialBox {
    background-color: #ffffff;
    text-align: center;
    margin-left: 30px;
    border-bottom: solid 1px #777777;
    border-right: solid 1px #777777;
}

#socialTitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
}

#hr2 {
    width: 90%;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 20px;
}

#gitImg {
    height: 70px;
    width: 70px;
    padding: 5px;
}

#liImg {
    height: 70px;
    width: 70px;
    padding: 5px;
}

#stackImg {
    height: 70px;
    width: 70px;
    padding: 5px;
}

/* END SOCIAL BOX */


/* BEGIN STICKY FOOTER */

#footerBox {
    margin-top: 30px;
    height: 60px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-size: smaller;
}

#footer p {
    padding: 23px;
}

/* END STICKY FOOTER */


/* ************************ */


/* BEGIN RESPONSIVE CHANGES */

/* Changes at 1573PX wide or less */

@media screen and (max-width:1573px) {
    #portImg1 {
        height: 225px;
        width: 225px;
        background-image: url("http://lorempixel.com/225/225/");
    }
    
    #portImg2 {
        height: 225px;
        width: 225px;
        background-image: url("http://lorempixel.com/225/225/");
    }
    
    #portImg3 {
        height: 225px;
        width: 225px;
        background-image: url("http://lorempixel.com/225/225/");
    }
    
    #portImg4 {
        height: 225px;
        width: 225px;
        background-image: url("http://lorempixel.com/225/225/");
    }
    
    #portImg5 {
        height: 225px;
        width: 225px;
        background-image: url("http://lorempixel.com/225/225/");
    }
    
    #portImg6 {
        height: 225px;
        width: 225px;
        background-image: url("http://lorempixel.com/225/225/");
    }
    
    #portText {
        margin-top: 170px;
    }
}

/* Changes at 1333PX wide or less */

@media screen and (max-width:1333px) {
    #portImg1 {
        height: 150px;
        width: 150px;
        background-image: url("http://lorempixel.com/150/150/");
    }
    
    #portImg2 {
        height: 150px;
        width: 150px;
        background-image: url("http://lorempixel.com/150/150/");
    }
    
    #portImg3 {
        height: 150px;
        width: 150px;
        background-image: url("http://lorempixel.com/150/150/");
    }
    
    #portImg4 {
        height: 150px;
        width: 150px;
        background-image: url("http://lorempixel.com/150/150/");
    }
    
    #portImg5 {
        height: 150px;
        width: 150px;
        background-image: url("http://lorempixel.com/150/150/");
    }
    
    #portImg6 {
        height: 150px;
        width: 150px;
        background-image: url("http://lorempixel.com/150/150/");
    }
    
    #portText {
        margin-top: 105px;
        padding: 5px;
        height: 35px;
        font-size: 14px;
    }
}

/* Changes at 991PX wide or less */

@media screen and (max-width:991px) {
    #portImg1 {
        height: 350px;
        width: 350px;
        background-image: url("http://lorempixel.com/350/350/");
    }
    
    #portImg2 {
        height: 350px;
        width: 350px;
        background-image: url("http://lorempixel.com/350/350/");
        float: left;
    }
    
    #portImg3 {
        height: 350px;
        width: 350px;
        background-image: url("http://lorempixel.com/350/350/");
    }
    
    #portImg4 {
        height: 350px;
        width: 350px;
        background-image: url("http://lorempixel.com/350/350/");
        float: left;
    }
    
    #portImg5 {
        height: 350px;
        width: 350px;
        background-image: url("http://lorempixel.com/350/350/");
    }
    
    #portImg6 {
        height: 350px;
        width: 350px;
        background-image: url("http://lorempixel.com/350/350/");
        float: left;
    }
    
    #portText {
        margin-top: 285px;
        padding: 5px;
        height: 45px;
        font-size: 26px;
    }
}

/* Changes at 767PX wide or less */

@media screen and (max-width:767px) {
    #navText {
        margin-left: 0px;
    }

    #mainBox {
        width: 95%;
        margin-top: -30px;
    }

    #mainBox2 {
        background-color: #ffffff;
        width: 95%;
        border-bottom: solid 1px #777777;
        border-right: solid 1px #777777;
    }

    #mainTitle {
        padding-top: 20px;
    }

    #socialBox {
        margin-left: 0px;
        margin-top: 30px;
        width: 95%
    }

    #socialTitle {
        padding-top: 25px;
    }
}

/* END RESPONSIVE CHANGES */